{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/glyphicon.css' %}">
    
    <script src="{% static 'js/receipt.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/cpe.css' %}">

    <title>Receipt Form</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="#">Receipt Form</a>
        </li>
    </ul>
    </nav>
    <div style="font-size:0;" class="bg-secondary">
        <input type='image' id='btnNew' src="{% static 'images/newOn.gif' %}"  alt="newOn">
        <input type='image' id='btnEdit' src="{% static 'images/editOn.gif' %}"  alt="editOn">
        <input type='image' id='btnSave' src="{% static 'images/saveOn.gif' %}"  alt="saveOn">
        <input type='image' id='btnDelete' src="{% static 'images/deleteOn.gif' %}"  alt="deleteOn">
        <input type='image' id='btnPrint' src="{% static 'images/printOn.gif' %}"  alt="printOn">
    </div>
    <br />
    <form id='form_receipt' action='/'>
    {% csrf_token %}
    <div class="container-fluid">
        <div class='form-row align-items-center'>
            <div class="col-lg-6 col-md-8 col-12 col-auto">
                <div class='input-group mb-2'>
                    <div class='input-group-prepend'>
                        <div class='input-group-text'>*Receipt No :</div>
                    </div>
                    <input type='text' id='txt_ReceiptNo' name='receipt_no' class='form-control' placeholder='Receipt No'>
                </div>
            </div>
            <!-- <div class="col-0 col-lg-1"></div> -->
            <div class="col-lg-6 col-md-9 col-13 col-auto">
                <div class='input-group mb-2'>
                    <div class='input-group-prepend'>
                        <div class='input-group-text'>*Receipt Date :</div>
                    </div>
                    <input type='text' id='txt_ReceiptDate' name='date' class='form-control' required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Check this checkbox to continue.</div>
                    <button type='button' class="btn btn-default" id='btn_ReceiptDate'>
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class='form-row'>
            <div class="col-lg-12 col-md-8 col-12 col-auto">
                <div class='input-group mb-4'>
                    <div class='input-group-prepend'>
                        <div class='input-group-text'>*Customer :</div>
                    </div>
                    <input type='text' id='txt_CustomerCode' name='customer_code' class='form-control' placeholder='Customer Code' required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Check this checkbox to continue.</div>
                    <button type='button' class="btn btn-default btn-sm search_customer_code">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <div class='input-group-prepend'>
                        <div class='input-group-text'>Customer Name :</div>
                    </div>
                    <input type='text' id='txt_CustomerName' name='customer_name' class='form-control' value='' readonly>
                    <input type='hidden' id='txt_DueDate' name='due_date' />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class='form-row'>
        <div class="col-lg-4 col-md-8 col-12 col-auto">
            <div class='input-group mb-2'>
                <div class='input-group-prepend'>
                    <div class='input-group-text'>*Payment Method :</div>
                </div>
                <input type='hidden' id='txt_PaymentMethod' name='payment_thod' class='form-control' placeholder='Payment Method' required>
                <input type='text' id='txt_Description' name='description' class='form-control' placeholder='Payment Method' required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Check this checkbox to continue.</div>
                <button type='button' class="btn btn-default btn-sm search_payment_method">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
        <div class="col-0 col-lg-1"></div>
        <div class="col-lg-4 col-md-8 col-12 col-auto">
            <div class='input-group mb-2'>
                <div class='input-group-prepend'>
                    <div class='input-group-text'>Payment Reference :</div>
                </div>
                <input type='text' id='txt_PaymentReference' name='payment_reference' class='form-control'>
            </div>
        </div>
    </div>
    <br />
    <div class='form-row align-items-center'>
        <div class="col-lg-4 col-md-8 col-12 col-auto">
            <div class='input-group mb-2'>
                <div class='input-group-prepend'>
                    <div class='input-group-text'>Total received :</div>
                </div>
                <input type='text' id='txt_TotalReceived' name='total_received' class='form-control' value='' readonly>
            </div>
        </div>
    </div>
    <br />
    <div class='form-row align-items-center'>
        <div class="col-lg-4 col-md-8 col-12 col-auto">
            <div class='input-group mb-2'>
                <div class='input-group-prepend'>
                    <div class='input-group-text'>remerks :</div>
                </div>
                <input type='text' id='txt_Remarks' name='remarks' class='form-control'>
            </div>
        </div>
    </div>
</div>
<br />
    Report Unpaid Invoices:
    <div id='div_table' class="table-responsive-sm table-editable">
        {% block main %}
        <table id='table_main' class="table table-sm table-fixed table-bordered">
            <thead>
                <tr class="d-flex">
                    <td class="col-1 table-active" align="center"><b>#</b></td>
                    <th class="col-2 table-active" scope="row" >*Invoice No</th>
                    <th class="col-2 table-active" scope="row" >Invoice Date</th>
                    <th class="col-2 table-active" scope="row" >Invoice Full Amount</th>
                    <th class="col-2 table-active" scope="row" >Invoice Amount Remain</th>
                    <th class="col-2 table-active" scope="row" >Amount Paid Here</th>
                    <td class="col-1" align="center">
                        <span class="table-add glyphicon glyphicon-plus"></span>
                    </td>
                </tr>
                <tr class="d-flex hide">
                    <td class="col-1 order_no table-active" scope="row" align="center"></td>
                    <td class="col-2 invoice_no_pk" scope="row" align="right">
                        <span class='invoice_no'></span>
                        <button type='button' class="btn btn-default btn-sm search_invoice_no">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </td>
                    <td class="col-2 invoice_date table-warning" scope="row"></td>
                    <td class="col-2 invoice_full_amount table-warning" scope="row" align="right" contenteditable="false"></td>
                    <td class="col-2 invoice_amount_remain table-warning" scope="row" align="right" contenteditable="false"></td>
                    <td class="col-2 amount_paid_here" scope="row" pattern="^[0-9]" align="right" contenteditable="true"></td>
                    <td class="col-1"align="center">
                        <span class="table-remove glyphicon glyphicon-remove"></span>
                    </td>
                </tr>                
            </thead>
            <tbody>
                <!-- Data will append by JQuery -->
            </tbody>
            <tfoot>
                <tr class="d-flex">
                    <td class="col-10" scope="row" colspan='6' align="right" class='border-0'>Total Received : </td>
                    <td class="col-2 table-warning" scope="row" align="right"><label id='lbl_TotalReceived' ></label></td>
                    <td class="col-1"align="center"></td>
                    <input type='hidden' id='txt_TotalReceived' name='Total Received' />
                </tr>
                <tr class="d-flex">
                    <td class="col-10" scope="row" colspan='6' align="right" class='border-0'>Number : </td>
                    <td class="col-2 table-warning" scope="row" align="right"><label id='lbl_TotalReceived' ></label></td>
                    <td class="col-1"align="center"></td>
                    <input type='hidden' id='txt_TotalReceived' name='Total Received' />
                </tr>
            </toot>
        </table>
        {% endblock %}
    </div>
    </form>

<!-- The Modal -->
<div class="modal" id="modal_form">
  <div class="modal-dialog">
    <div class="modal-content">
      <input type='hidden' id='txt_modal_param' />
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">List Of Value</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body modal-dialog-scrollable">
            <table id='table_modal' class="modal-body table table-sm table-bordered">
                <thead>
                    <tr>
                        <th class='col-1' scope="row">#</th>
                        <th class='col-3' scope="row"><label id='model_header_1'>Invoice No</label></th>
                        <th class='col-5' scope="row"><label id='model_header_2'>Invoice Date</label></th>
                        <th class='col-3' scope="row"><label id='model_header_3'>Amount Due</label></th>
                        <td class='hide'></td>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will append by JQuery -->
                    <tr>
                        <td>1</td>
                        <td><a class='a_click' href='#'></a></td>
                        <td></td>
                        <td></td>
                        <td class='hide'></td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
</body>
</html>